/********************************************************************************/
/* One Dark                                                                     */
/* Latest Version:  https://github.com/Mehvix/joplin-one-dark                   */
/* Designed by:     Max Vogel (mehvix)                                          */
/*                                                                              */
/* userstyle.css:   For styling the rendered Markdown                           */
/********************************************************************************/

@use '_onedark' as *

body,
html
    font-family: $font-sans !important
    font-weight: 300 !important
    background-color: $bg-light
    color: $mono-0
    margin-top: 0.25em

h1,
h2,
h3,
h4,
h5,
h6
    margin-bottom: 0.3em !important

li
    margin-bottom: 0.2em !important

ul
    margin-top: 0.2em !important

a
    color: $hue-2

    &[href^=":/"]
        color: $hue-1

    &[href^="#"]
        color: $hue-4

// mehvix.com hover

.inline-code
    padding: 4px

// todo just yoink OD HLJS
.inline-code,
.hljs
    background-color: $bg-dark
    color: $mono-1
    border: none

pre.hljs
    border-radius: 6px

summary:hover,
.checkbox-wrapper input:hover,
.checkbox-wrapper label:hover
    cursor: pointer
