/********************************************************************************/
/* One Dark                                                                     */
/* Latest Version:  https://github.com/Mehvix/joplin-one-dark                   */
/* Created by:      Max Vogel (mehvix)                                          */
/*                                                                              */
/* userchrome.css:  For styling the entire Joplin app (except the rendered      */
/*                  Markdown, which is defined in `userstyle.css`)              */
/********************************************************************************/

// TODO LIST
// - rewrite in sass
// - style iframe
//
// - get image on github
// - Post on Joplin boards
// - Make PR to AwesomeJoplin repo

@use '_onedark' as *

$plus: ".sidebar > div > div:first-child > div:first-child + button"

div.rli-root
    & *
        color: $mono-1
        background-color: $bg-dark

        button:not(#{$plus}):hover, button:hover span
            color: $mono-3 !important
            background-color: $hue-6-2
            transition-duration: $transition

        button span
            color: $mono-1 !important

        #{$plus} span
            padding: 3px
            border-radius: 2px

    div.tox-toolbar-overlord > div.tox-toolbar__primary
        background-color: $bg-light !important
        color: $mono-1 !important

    .rli-editor, .rli-editor *
        background-color: $bg-light !important
        color: $mono-1 !important

    div[style*="background: rgb(255, 208, 141)"], div[style*="background: rgb(255, 208, 141)"] *
        background-color: $hue-5 !important
        color: $mono-1 !important

    div[style*="cursor: row-resize"]:hover,
    div[style*="cursor: col-resize"]:hover
        background-color: $gutter !important
        transition-duration: $transition

    .note-list-item:hover, .note-list-item:hover *,
    .list-item-container:hover, .list-item-container:hover *
        background-color: $bg-light !important
        transition-duration: $transition

    input[type='text']
        color: $mono-2 !important

    .title-input
        border-radius: 8px
        color: $mono-0
        padding-left: 1ch !important

    .selected, .selected *,
    input[type='text']
        background-color: $bg-darker !important

    .list-item-container::before
        border-bottom: 1px solid $mono-3 !important

    div[style*="cursor: row-resize"]
        background-color: $bg-darker

    div[style*="cursor: col-resize"]
        background-color: $bg-dark

    .editor-toolbar
        a:not(.disabled):hover, a:not(.disabled):hover *,
        button div:hover, button div:hover *
            background-color: $hue-1 !important
            color: $mono-0 !important
            transition-duration: $transition
            opacity: 1 !important

    // fixes
    .editor-toolbar, editor-toolbar *
        background-clip: content-box

    input[placeholder="Search..."] + button, input[placeholder="Search..."] + button *
        background: transparent
// div.config-screen
