/********************************************************************************/
/* One Dark                                                                     */
/* Latest Version:  https://github.com/Mehvix/joplin-one-dark                   */
/* Created by:      Max Vogel (mehvix)                                          */
/*                                                                              */
/* userchrome.css:  For styling the entire Joplin app (except the rendered      */
/*                  Markdown, which is defined in `userstyle.css`)              */
/********************************************************************************/

// TODO LIST
// - rewrite in sass
// - style iframe
//
// - get image on github
// - Post on Joplin boards
// - Make PR to AwesomeJoplin repo

@use '_onedark' as *

$plus: ".sidebar > div > div:first-child > div:first-child + button"

// fonts
div, span, a, input
    font-family: $font-mono

span.updated-time-label, [title="Spell checker"], .tag-bar *, .modal-dialog *, .dialog-root *, div[style*="font-family: Roboto;"], table *
    font-family: $font-mono !important

[class^="icon-"], [class*=" icon-"], [class^="fa-"]
    font-family: 'icomoon' !important

// base coloring
*
    color: $mono-1
    background-color: $bg-dark

[style*='color: #ffffff'], .sidebar *
    color: $mono-1 !important

[style*='background-color: rgb(255, 255, 255);']
    background-color: $bg-dark !important

// default state
div.rli-root
    .rli-noteList > div > div > div
        background-color: $bg-dark !important

        button
            background-color: $bg-darker !important

        input[placeholder="Search..."] + button, input[placeholder="Search..."] + button *
            background: transparent !important

    button:not(#{$plus}):not([aria-label="Toggle editors"]):hover, button:hover span
        color: $mono-0 !important
        background-color: $hue-6-2 !important
        transition-duration: $transition

    button span
        background-color: $bg-darker
        color: $mono-1 !important

    #{$plus} span
        padding: 3px
        border-radius: 2px

    div.tox-toolbar-overlord > div.tox-toolbar__primary
        background-color: $bg-light !important
        color: $mono-1 !important

    div.rli-editor, div.rli-editor *
        background-color: $bg-light !important
        color: $mono-1 !important

    div[style*="background: rgb(255, 208, 141)"], div[style*="background: rgb(255, 208, 141)"] *
        background-color: $hue-5 !important
        color: $mono-1 !important

    div[style*="cursor: row-resize"]:hover,
    div[style*="cursor: col-resize"]:hover
        background-color: $gutter !important
        transition-duration: $transition

    .note-list-item:hover, .note-list-item:hover *,
    .list-item-container:hover, .list-item-container:hover *
        background-color: $bg-light !important
        transition-duration: $transition

    input[type='text']
        color: $mono-2 !important

    input.title-input
        border-radius: 8px
        color: $mono-0
        padding-left: 1ch !important

    .selected, .selected *,
    input[type='text']
        background-color: $bg-darker !important

    .list-item-container::before
        border-bottom: 1px solid $mono-3 !important

    div[style*="cursor: row-resize"]
        background-color: $bg-darker

    div[style*="cursor: col-resize"]
        background-color: $bg-dark

    div.note-search-bar
        border-top: none !important
        & > div
            padding-left: 1ch
            padding-left: 4px
        input
            border: none
            padding: 3px
            padding-left: 4px
            border-radius: 8px

    .tag-list button
        background-color: $accent !important
        color: $mono-0 !important

    .editor-toolbar
        a:not(.disabled):hover, a:not(.disabled):hover *,
        button div:hover, button div:hover *
            background-color: $hue-1 !important
            color: $mono-0 !important
            transition-duration: $transition
            opacity: 1 !important

    // fixes
    .editor-toolbar, editor-toolbar *
        background-clip: content-box

    div.codeMirrorEditor
        .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection
            background-color: black !important
            opacity: .6 !important

        .cm-header
            color: $hue-5 !important
            line-height: 1.5em !important

        // .cm-jn-inline-code

        .cm-search-marker
            background: $hue-6-2 !important
            color: black !important

            &-selected
                background: $hue-6 !important
                color: #ffffff !important

            &-scrollbar
                background: $hue-6-2 !important

        // dot + slash in list
        .cm-variable-2,
        .cm-variable-3,
        .cm-tab + .cm-tab + .cm-keyword
            color: $hue-6-2 !important

        // contents of list
        // .cm-variable-2 + .cm-property + .cm-variable-2,
        // .cm-variable-3 + .cm-property + .cm-variable-3,
        // .cm-variable-2 + .cm-meta + .cm-variable-2,
        // .cm-variable-3 + .cm-meta + .cm-variable-3,
        // .cm-tab + .cm-tab + * ~ .cm-keyword
        //     color: $hue-6-2 !important
        // }

        .cm-keyword + .cm-meta + .cm-keyword,
        .cm-keyword + .cm-property + .cm-keyword
            color: $hue-6-2 !important

        .cm-katex-marker-open,
        .cm-katex-marker-close,
        .cm-katex-marker-open
            color: $hue-4 !important

        .cm-error
            color: inherit !important
            background-color: inherit !important
            border-bottom: 1px dotted #dc322f !important

        .CodeMirror-scrollbar-filler,
        .CodeMirror-gutter-filler
            background-color: white !important
            // The little square between H and V scrollbars

        .cm-number
            color: $hue-1 !important

        .cm-quote
            color: $hue-4 !important

        .cm-negative
            color: #d44 !important

        .cm-positive
            color: #292 !important

        .cm-header,
        .cm-strong
            font-weight: bold !important

        .cm-em
            font-style: italic !important

        .cm-link
            text-decoration: underline !important

        .cm-strikethrough
            text-decoration: line-through !important

        .cm-keyword
            color: $hue-3 !important

        .cm-image
            color: $hue-4 !important

        .cm-def
            color: $hue-2 !important

        .cm-operator
            color: $hue-1 !important

        .cm-variable
            color: $hue-2 !important

        // checked box
        .cm-property
            color: $hue-2 !important

        .cm-comment
            color: $mono-3 !important
            border: none !important
            // font-style: italic !important;

        .cm-tag
            color: $hue-5 !important

        .cm-bracket
            // color: $mono-1 !important;
            color: $hue-5 !important

        // Default styles for common addons
        div.CodeMirror span.CodeMirror-matchingbracket
            color: #0b0 !important

        div.CodeMirror span.CodeMirror-nonmatchingbracket
            color: #a22 !important

        .CodeMirror-matchingtag
            background: rgba(255, 150, 0, 0.3) !important

        .CodeMirror-activeline-background
            background: #e8f2ff !important

        .cm-searching
            background-color: #ffa !important
            background-color: rgba(255, 255, 0, 0.4) !important

        .cm-strong
            color: $hue-6 !important

        .cm-em
            color: $hue-3 !important

        .cm-link-text
            color: $hue-2 !important

        .cm-string
            color: $hue-4 !important

        .cm-url
            color: $hue-3 !important
            opacity: 1

// div.config-screen
div.modal-layer, div.master-password-dialog
    width: 100% !important

    // & [style='z-index: 9999;display: flex;position: absolute;background-color: transparent !important;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);align-items: flex-start;justify-content: center;']
        // background-color: rgba(0, 0, 0, 0.6) !important

div[style='overflow: auto; color: rgb(50, 55, 63); background-color: rgb(255, 255, 255); font-family: Roboto; height: 784.167px; display: flex; flex-direction: column;'] *, //
div.modal-layer:not([style*='background-color: rgba(0, 0, 0, 0.6);']), div.master-password-dialog *,
div[style*='index: 9999'] *
    color: $mono-1 !important
    background-color: $bg-dark !important

    a
        color: $hue-2 !important

    // todo hover
    button
        min-width: unset !important
        width: fit-content !important
        background-color: $bg-darker !important
