/********************************************************************************/
/* One Dark                                                                     */
/* Latest Version:  https://github.com/Mehvix/joplin-one-dark                   */
/* Designed by:     Max Vogel (mehvix)                                          */
/*                                                                              */
/* userstyle.css:   For styling the rendered Markdown                           */
/********************************************************************************/

/* Variables */

:root {
    /* One Dark Values */
    /* https://github.com/atom/atom/blob/master/packages/one-dark-syntax/styles/colors.less */
    
    /* config */
    --hue: 220;
    --saturation: 13%;
    --brightness: 18%;
    
    /* monochrome */
    --mono-1: hsl(var(--hue), 14%, 71%);
    --mono-2: hsl(var(--hue), 9%, 55%);
    --mono-3: hsl(var(--hue), 10%, 40%);
    
    /* colors */
    --hue-1: hsl(187, 47%, 55%);
    --hue-2: hsl(207, 82%, 66%);
    --hue-3: hsl(286, 60%, 67%);
    --hue-4: hsl( 95, 38%, 62%);
    --hue-5: hsl(355, 65%, 65%);
    --hue-5-2: hsl( 5, 48%, 51%);
    --hue-6: hsl( 29, 54%, 61%);
    --hue-6-2: hsl( 39, 67%, 69%);
    
    /* base colors */
    --fg: var(--mono-1);
    --bg: hsl(var(--hue), var(--saturation), var(--brightness));
    
    /* From  https://github.com/Binaryify/OneDark-Pro */
    --bg2: #21252b;
    --fg2: #4b5263;
    --gutter: hsl(var(--fg), 100%, 26%);
    --guide: hsl(var(--fg), 100%, 15%);
    --accent: hsl(var(--hue), 100%, 66%);
    --black: #282c34;
    --white: #cbd3e2;
    --red-light: #e06c75;
    --red-dark: #be5046;
    --green: #98c379;
    --yellow-light: #e5c07b;
    --yellow-dark: #d19a66;
    --blue: #61afef;
    --magenta: #c678dd;
    --cyan: #56b6c2;
    --grey-comment: #5c6370;
    
    
    /* Font -- Feel free to change to fit your personal preference */
    --font-sans: "Roboto", sans-serif;
    --font-mono: "Roboto Mono", monospace;
    
    /* Misc. */
    --transition: 300ms;
    --bg3: #1d1f23;
}

/* body, html {
    font-family: var(--font-sans) !important;
    font-weight: 300 !important;
    background-color: var(--bg);
    color: var(--white);
} */

