/********************************************************************************/
/* One Dark                                                                     */
/* Latest Version:  https://github.com/Mehvix/joplin-one-dark                   */
/* Designed by:     Max Vogel (mehvix)                                          */
/*                                                                              */
/* userstyle.css:   For styling the rendered Markdown                           */
/********************************************************************************/

/* Variables */
:root {
    /* One Dark Values */
    /* https://github.com/atom/atom/blob/master/packages/one-dark-syntax/styles/colors.less */

    /* config */
    --hue: 220;
    --saturation: 13%;
    --brightness: 18%;

    /* monochrome */
    --mono-0: #e2ebfd;
    --mono-1: #abb2bf;
    --mono-2: #9ea6b6;
    --mono-3: #5c6370;
    --lighter-grey: #f2f2f2;
    --light-grey: #d9d9d9;

    /* hues */
    --hue-1: hsl(187, 47%, 55%);
    --hue-2: hsl(207, 82%, 66%);
    --hue-3: hsl(286, 60%, 67%);
    --hue-4: hsl(95, 38%, 62%);
    --hue-5: hsl(355, 65%, 65%);
    --hue-5-2: hsl(5, 48%, 51%);
    --hue-6: hsl(29, 54%, 61%);
    --hue-6-2: hsl(39, 67%, 69%);

    /* colors */
    --fg: var(--mono-1);
    --fg2: #4b5263;
    --bg-light: #282c34;
    --bg-dark: #21252b;
    --bg-darker: #1d1f23;
    --gutter: hsl(var(--fg), 100%, 26%);
    --guide: hsl(var(--fg), 100%, 15%);
    --accent: hsl(var(--hue), 100%, 66%);

    /* font */
    --font-sans: "PT Sans", sans-serif;
    --font-mono: "PT Mono", monospace;
    --font-size: 13px;
    --icon-size: var(--font-size);
    --font-weight-light: 200;
    --font-weight-base: 400;
    --font-weight-bold: 500;
    --font-line-height: 1.3em;

    /* misc. */
    --transition: 100ms;
}

body,
html {
    font-family: var(--font-sans) !important;
    font-weight: 300 !important;
    background-color: var(--bg-light);
    color: var(--mono-0);
    margin-top: 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.3em !important;
}

li {
    margin-bottom: 0.2em !important;
}

ul {
    margin-top: 0.2em !important;
}
